* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%; /*largura*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-texto {
   width: 600px;
}

h1 {
   color: #333;
   font-size: 60px; /* tamanho da fonte */
   font-weight: bold;   /* grossura da fonte */
}

span {
    color:#017143 ;
    font-size: 70px;
    font-weight: 900;
}

p {
   font-size: 16px;
}

button {
    background: #017143; /* cor de fundo */
    color: #ffff;
    border-radius: 40px; /* arredondamento do bordas */
    border: none; /* borda */ 
    padding: 10px;
    margin-top: 20px;
    cursor: pointer; /* muda o ponteiro do mouse */
    transition: 0.5s; /*transicao do efeito */
}

button:hover {
    background: #018950;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.Starbucks {
    width: 340px;
}

.menu {
   display: flex;
   justify-content: center;
}

.botao-menu {
   width: 60px;
   cursor: pointer;
   transition: 0.5s;
}

.botao-menu:hover {
    transform: translateY(-30px);
}

.imagem-copo{
   width: 340px;
}
       
.circulo {
   background:#017143; /*cor de fundo */
   width: 100%; /* largura */
   height: 100%; /*altura */
   position: absolute;
   top: 0;
   left: 0;
   clip-path: circle(600px at right 800px);
   z-index: -1;
}
